@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('../fonts/TTLakes-Bold'),
    url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('../fonts/TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('../fonts/TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "TT Lakes", sans-serif;
    color:#1B1C21;
}

button:focus-visible, a:focus-visible {
    outline: 2px solid #275649;
}


.wrapper {
    width: 320px;
    margin: 0 auto;
    position: relative;
}

.wrapper::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #D9FFF5;
    position: absolute;
    top: 84px;
}

.header {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
    gap: 3em;
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__col-right,
.header__col-center,
.header__col-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__col-left {
    width: 155px;
    position: relative;
}

.header__col-right {
    width: 96px;
    position: relative;
}

.header__col-right::before {
    display: block;
    content: "";
    width: 2px;
    position: absolute;
    left: -20px;
    top: 3px;
    bottom: 3px;
    background: #EAEAEA;
}

.header__col-center {
    display: none;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: -1px;
    background: #FF3E79;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.1s;
}

.button:hover{
    box-shadow: 0 0 15px #FF3E79;
}

.header__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    position: relative;
}

.header__btn-desc{
    display: none;
    font-weight: 500;
}


.button:focus-visible {
    outline: 2px solid #275649;

}

.header__title {
    font-size: 28px;
    text-align: left;
    letter-spacing: -0.6px;
    font-weight: bold;
    position: relative;
}

.header__title::before {
    position: absolute;
    content: "";
    left: -15px;
    top: -1px;
    bottom: -1px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0 20px 20px 0;
}

.nav {
    padding: 0 15px;
}

.nav__items {
    display: flex;
    overflow: scroll;
    min-width: 300px;
    padding: 2px;
    list-style-type: none;
    -ms-overflow-style: none; /* IE и Edge */
    /*scrollbar-width: none; */
}

.nav__items::-webkit-scrollbar {
    width: 0;
}

.nav__item {
    flex: 0 0 auto;
    margin: 2px;
}

.nav__link {
    font-weight: 500;
    font-size: 16px;
    background: none;
    padding: 12px;
    display: block;
    color: #7E7E82;
    text-decoration: none;

}

.nav__link:active {
    background: none;
}

.nav__link:focus-visible {
    border-radius: 6px;
}

.nav__item:hover {
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
}

.about-us{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}


.about-us__text {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;

}

.about-us__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 88px;
    overflow: hidden;
    letter-spacing: 0.2px;
    line-height: 18px;
    font-size: 14px;
}

.about-us__wrapper p {
    flex: 1 1 auto;
}


.about-us__btn {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    background: none;
    border: none;
    padding: 5px 5px 5px 20px;
    cursor: pointer;
}

.about-us__btn:hover {
    opacity: 0.5;
}

.about-us__btn:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: url("../img/expand.svg") no-repeat 50% 50%;
    position: absolute;
    left: 5px;
    top: 30%;
}

.about-us__image {
    width: 100%;
}







/*Style for menu-bar*/

.menu{
    display: flex;
    flex-direction: column;
    gap: 2em;

    width: 320px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px 16px 32px;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
}
.menu-header{
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-header__logo{
    display: flex;
}

.menu-nav{
    flex-grow: 1;
}

.menu-nav__items{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    flex-grow: 1;
}

.menu-nav__item{
    display: flex;
    align-items: center;
    /*min-height: 40px;*/
    flex-grow: 1;
    position: relative;

}

.menu-nav__link{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    color:rgba(27, 28, 33, 1);
    vertical-align: middle;
    transition: 0.1s;
}

.menu-nav__link:hover{
    color:rgba(27, 28, 33, 0.6);
}

.menu-nav__link::before{
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    left: -16px;
    top: 4px;
    bottom: 4px;
    background-color: #41F6D7;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    transition: 0.1s;
}

.menu-nav__link:hover::before{
    opacity: 1;
}

.menu-header__logo{
    flex-grow: 1;
}

.menu-nav{
    display: flex;
    flex-direction: column;
}
.menu-footer{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.menu-footer__contacts{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu-footer__mail{
    font-weight: 500;
    transition: 0.1s;
}

.menu-footer__mail:hover{
    opacity: 0.6;
}

.menu-footer__phone{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    transition: 0.1s;
}

.menu-footer__phone:hover{
    opacity: 0.6;
}

.menu-footer__buttons{
    display: flex;
    gap: 1em;
}
.menu-footer__lang{
    display: flex;
    gap: 1em;
}
.menu-footer__lang-link{
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.1s;
}
.menu-footer__lang-link:hover{
    opacity: 0.6;
}









@media (min-width: 768px) {
    .wrapper {
        width: 768px;
    }

    .wrapper::before {
        top: 94px;
    }

    .header {
        padding: 25px;
    }

    .header__col-left:before{
        content: "";
        display: block;
        width: 2px;
        left: 50px;
        top: 12px;
        bottom: 11px;
        position: absolute;
        background: #EAEAEA;
    }

    .header__actions{
        gap: 42px;
    }

    .header__col-center {
        width: 152px;
        display: flex;
        flex-grow: 1;
        gap: 1em;
        justify-content: flex-end;
    }

    .header__col-right::before {
        left: -20px;
    }

    .nav {
        padding: 0 25px;
    }

    .nav__items {
        min-width: 740px;
    }

    .nav::-webkit-scrollbar {
        width: 0;
    }

    .header__title::before {
        left: -25px;
    }

    .about-us {
        flex-direction: row;
        padding: 0 25px;
        gap: 46px;
    }

    .about-us__text {

        padding: 0;
        flex: 1 1 50%;
    }

    .about-us__wrapper {
        line-height: 20px;
        height: 158px;
    }

    .about-us__image {
        width: 0;
        display: block;
        flex: 1 0 50%;
    }
}

@media (min-width: 1120px) {
    .wrapper {
        width: 1120px;
        padding: 0 25px;
    }

    .wrapper::before {
        display: none;
    }

    .header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 25px 0;
    }

    .header__title {
        display: flex;
        align-items: center;
    }

    .header__col-center {
        display: none;
    }

    .header__col-left {
        display: none;
    }

    .header__col-right {
        width: auto;
        gap: 1.5em;
    }

    .header__btn-desc{
        display: block;
    }

    .header__btn:hover .header__btn-desc {
        opacity: 0.7;
    }
    .header__btn:hover .button{
        box-shadow: 0 0 15px #FF3E79;
    }

    .header__col-right::before {
        display: none;
    }


    .nav {
        padding: 0;
    }

    .nav__items {
        min-width: 1063px;
        overflow: auto;
        flex-wrap: wrap;
    }

    .about-us {
        gap: 3em;
        padding: 15px 0;
    }

    .about-us__image {
        width: 532px;
        flex: 0 1 auto;
    }

    .about-us__text {
        flex: 1 1 auto;
    }
}